version: "3.8"

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:80"
    restart: unless-stopped

  admin:
    build:
      context: ./admin
      dockerfile: Dockerfile
    ports:
      - "5174:80"
    restart: unless-stopped

  backend:
    build:
      context: ./pet_adoption
      dockerfile: Dockerfile
    ports:
      - "8081:8081" # Map container 8080 to host 8081
    restart: unless-stopped
